<!DOCTYPE html>
<html lang="en">
<div class=main> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Human Rights Metrics Measurement</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/page-animation.css">
</head>
<style>

</style>


<body>


<section id="my-section">
  <div class="active" id="wrap-cta">
    <button id="cta">Click here!</button>
  </div>
  <svg id="boxsvg" viewBox="0 0 215 110" preserveAspectRatio="none">
    <polygon class="polymorph" points="215,110 0,110 0,0 215,0"></polygon>
  </svg>
  <div class="container-2">
    <div id="content">
      <h4>Welcome to</h4>
      <h1>Understanding Human Rights <br/>Through Data</h1>
      <button id="close">Let's Start</button>
    </div>
  </div>
</section>



  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <div class="bg-image"></div>
        <div class="human">


         <h4 class="fw-bolder ml11">


         <span class="text-wrapper" style="width: 100%; margin:auto;">
    <span class="line line1"></span>
    <span class="letters">  Understanding Human </span>
    </span>
    


    </h4>

     <h4 class="fw-bolder ml11 ml12">


         <span class="text-wrapper" style="width: 100%; margin:auto;">
    <span class="line line1"></span>
    <span class="letters">  Rights Through Data</span>
    </span>
    


    </h4>
          <p>Explore the Data</p>


        </div>
       
      </div>
    </div>
    <div class="row mid">
      <div class="col-md-3">
        <div class="well">
          <h5>Country:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Country Rights Score</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5 right">
        <div id="bar"></div>
      </div>
      <div class="col-md-4 left">
        <div id="gauge"></div>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 last">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/app.js"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->
  <!-- <script src="samples.json"></script> -->
  <!-- <script src="style.css"></script> -->

     <script src="../static/js/jquery.js"></script>
   <script src="../static/js/anime.min.js"></script>

  <script src="../static/js/page-animation.js"></script>

</body>
</div1>
</html>